APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/phplectortexto/public
APP_TIMEZONE=Europe/Madrid

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=mi_basedatos
DB_CHARSET=utf8mb4
DB_USER=root
DB_PASS=

UPLOAD_MAX_SIZE=15728640
UPLOAD_DIR=uploads
LOG_DIR=storage/logs
DEFAULT_ESTADO_FACTURA=pendiente
DEFAULT_FORMA_PAGO=
