APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/phplectortexto/public
APP_TIMEZONE=Europe/Madrid

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=mi_basedatos
DB_CHARSET=utf8mb4
DB_USER=root
DB_PASS=

OCR_PROVIDER=mindee
OCR_TIMEOUT=60
OCR_API_URL=https://api.ocr.space/parse/image
OCR_API_KEY=
OCR_LANGUAGE=spa
OCR_ENGINE=2
OCR_VERIFY_SSL=true
MINDEE_V2_API_KEY=
MINDEE_MODEL_ID=
TESSERACT_PATH='C:\Program Files\Tesseract-OCR\tesseract.exe'
TESSERACT_LANGUAGE=eng
PDFTOTEXT_PATH='C:\Program Files\Git\mingw64\bin\pdftotext.exe'

UPLOAD_MAX_SIZE=15728640
UPLOAD_DIR=uploads
LOG_DIR=storage/logs
DEFAULT_ESTADO_FACTURA=pendiente
DEFAULT_FORMA_PAGO=
